<!-- Stylesheets -->
<link rel="stylesheet" href="/views/assets/vendors/feather/feather.css">
<link rel="stylesheet" href="/views/assets/vendors/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" href="/views/assets/vendors/css/vendor.bundle.base.css">
<link rel="stylesheet" href="/views/assets/css/style.css">
<link rel="shortcut icon" href="/views/assets/images/favicon.png">

