<nav class="sidebar sidebar-offcanvas" id="sidebar">
<ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">
            <i class="mdi mdi-grid-large menu-icon"></i>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/documentation/">
            <i class="menu-icon mdi mdi-account-multiple"></i>
            <span class="menu-title">User Management</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/categories/">
            <i class="menu-icon mdi mdi-animation"></i>
            <span class="menu-title">Categories</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
            <i class="menu-icon mdi mdi-archive"></i>
            <span class="menu-title">Products</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-basic">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="/manage-products/">Manage Products</a></li>
              <li class="nav-item"> <a class="nav-link" href="/add-products/">Add Products</a></li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="">
            <i class="menu-icon mdi mdi-layers-outline"></i>
            <span class="menu-title">Media Files</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
            <i class="menu-icon mdi mdi-chart-line"></i>
            <span class="menu-title">Sales</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="charts">  
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="pages/charts/chartjs.html">Manage Sales</a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/charts/chartjs.html">Add Sales</a></li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
            <i class="menu-icon mdi mdi-file-document"></i>
            <span class="menu-title">Sales Report</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="tables">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">Sales by dates</a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">Monthly sales</a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">Daily sales</a></li>
            </ul>
          </div>
        </li>
    </ul>
</nav>
